<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mu9983.mapper.FileMapper">

    <insert id="insertFile">
        insert into document(file_name, file_suffix, file_size, minio_path, upload_user_id, process_status, update_user_id)
            values(#{fileName}, #{fileSuffix}, #{fileSize}, #{minioPath}, #{uploadUserId}, #{processStatus}, #{uploadUserId})
    </insert>

    <select id="getFileIdByFullName" resultType="java.lang.Integer">
        select id from document where file_name = #{objectName} and process_status in ('success', 'fail')
    </select>

    <select id="selectFileByFullName" resultType="java.lang.Integer">
        select id from document where file_name = #{objectName} and process_status = 'pending'
    </select>

    <select id="selectFileByKey" resultType="com.mu9983.entity.Document">
        select id, file_name, file_suffix, file_size, minio_path, upload_user_id, process_status, create_time, update_time, update_user_id
        from document where file_name like concat('%', replace(replace(#{key}, '_', '\\_'), '%', '\\%'), '%')
        escape '\\' and process_status = 'success'
    </select>

    <select id="selectFileByPath" resultType="java.lang.Integer">
        select id from document where file_name = #{fileName} and minio_path = #{path} and process_status = 'success'
    </select>

    <select id="getById" resultType="com.mu9983.entity.Document">
        select * from document where id = #{fileId}
    </select>

    <select id="getByName" resultType="com.mu9983.entity.Document">
        select * from document where file_name = #{fileName} and process_status in ('pending', 'processing', 'success', 'fail')
    </select>


    <update id="updateFile">
        update document set process_status = 'deleted', update_time = NOW(), update_user_id = #{userId} where id = #{fileId}
    </update>

    <update id="updateFileStatus">
        update document set process_status = #{status}, update_time = NOW(), update_user_id = #{userId} where id = #{fileId}
    </update>



</mapper>